@import "../themes/theme";

.giphyBox {
    display: flex;
    align-items: center;
    background-color: $giph_bck_color;
    margin: 5px;
    padding: 10px;
}

.giphyBox > img {
    border-radius: 20%;
}

.js-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




//have different colors for different children- way to incorporate variables and mixins?

